@font-face {
    font-family: Bebas;
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Mont;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
html {
    width: auto;
    background-color: rgba(122, 191, 191, .5);
}
body {
    width: 414px;
    margin: 0 auto;
    background-color: #F2F2F2;
    display: grid;
}
header {
    box-shadow: 0px 0px 5px 0px;
    background-color: white;
    grid-row-start: 1;
}
h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: Bebas;
}
p, dd, li, nav, input {
    font-size: 16px;
    font-family: Mont;
}
p {
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 500;
    line-height: 1.4em;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    margin-top: 110px;
    font-size: 40px;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
}
nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}
nav {
    width: 414px;
    height: 80px;
    z-index: 2;
}
.home {
    background-color: #EB5428;
    position: absolute;
    top: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    height: 30px;
    width: 230px;
    stroke: white;
    line-height: .1em;
    text-align: center;
}
.home svg {
    height: 60px;
    padding-top: 0;
}
small {
    font-size: 1px;
}
#avatar {
    stroke: #EB5428;
    background: white
}
.signIn {
    display: inline-block;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    text-decoration: none;
    margin-left: 330px;
    padding-top: 10px;
    height: 60px;
    width: 70px;
    line-height: .8em;
    text-align: center;
}
.signIn:hover {
    background-color: white;
}
.home:hover {
    background-color: #EB5428;
}
nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
nav li a {
    display: inline;
    position: relative;
    z-index: 2;
    display: block;
    text-decoration: none;
    color: #EB5428;
    height: 80px;
    padding: 10px 20px 10px 20px;
    background-color: white;
}
nav a:hover, nav input:hover {
    background-color: #F2F2F2;
}
nav img {
    height: 50px;
}
nav label {
    cursor: pointer;
}
nav input {
    display: none;
    height: 40px;
}
input:checked ~ ul {
    max-height: 850px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
span {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    width: 70px;
    color: black;
    list-style: none;
    line-height: .8em;
    text-align: center;
}
#intro {
    grid-row-start: 2;
}
#intro menu {
    display: flex;
    margin-top: 0;
    padding-left: 0;
}
#intro menu li {
    display: block;
    width: 100px;
    color: #EB5428;
    list-style: none;
    line-height: .8em;
    text-align: center;
}
#intro a {
    text-decoration: none;
    color: #EB5428;
}
#siteSearch {
    border: solid 2px #EB5428;
    width: 275px;
    height: 45px;
}
.icon-tabler-search {
    background-color: #EB5428;
    stroke: white;
}
#searchBar {
    position: absolute;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    width: 300px;
    z-index: 1;
}
#searchBar a {
    visibility: hidden;
    width: 0px;
    height: auto;
}
#searchBar svg {
    visibility: visible;
    height: 45px;
    width: 50px;
}
#tacos {
    width: 414px;
    height: 625px;
}
dl {
    width: 100%;
}
dt {
    width: 30%;
    float: left;
    font-size: 16px;
    font-family: Mont;
    font-weight: bold;
    padding-left: 10px;
}
dd {
    width: 70%;
    margin: 5px;
    padding-left: 10px;
}
#ingredients ul {
    padding-left: 30px;
}
#ingredients li {
    list-style: square;
    margin-bottom: 15px;
    font-weight: 500;
}
#directions li {
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.5em;
}
ol {
    margin-bottom: 0;
    padding: 15px 6px 0px 25px;
}
#directions ol li:last-child {
    margin-bottom: 10px;
}
#sideDishes {
    display: grid;
    grid-template-rows: .3fr 1fr 1fr 1fr 1fr;
    padding-top: 5px;
    background-color: #7ABFBF;
}
#sideDishes h2 {
    margin: 0;
}
.dish {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 0;
    row-gap: 30px;
    column-gap: 0;
}
h3 {
    font-size: 25px;
    grid-column-start: 2;
    text-align: left;
    margin-top: 27px;
}
h4 {
    margin: 0;
    width: 70px;
    font-family: Mont;
    font-weight: 800;
}
#sideDishes img {
    grid-column-start: 1;
    width: 100px;
    height: 100px;
    padding-left: 15px;
    padding-bottom: 15px;
}
#sideDishes p {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 40px;
    padding-left: 0;
}
.dish svg {
    fill: #EB5428;
    padding-top: 5px;
    padding-right: 3px;
}
.dish1 svg:last-of-type, .dish3 svg:last-of-type, .dish4 svg:last-of-type {
    fill: white;
}
.stars {
    height: 50px;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 63px;
}
footer p::first-line, #social h2, header h2 {
    visibility: hidden;
    height: 1px;
    margin: 0;
}
footer p:first-child {
    padding: 0;
    height: 1px;
}
#social {
    grid-row-start: 1;
    height: 100px;
    margin-bottom: 0;
    margin-top: 10px;
}
#social ul {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
}
#social li {
    display: block;
    width: 70px;
    color: #EB5428;
    list-style: none;
    line-height: .8em;
    text-align: center;
}
footer {
    border-top: solid 20px #F2F2F2;
    display: grid;
    background-color: white;
    height: 400px;
}
footer p {
    font-family: Bebas;
    text-align: center;
    font-size: 20px;
    line-height: 1em;
    margin-top: 0;
}
footer p:last-of-type {
    margin-bottom: 0;
    font-weight: 500;
}
#cheesington {
    width: 200px;
    margin-left: 107px;
    grid-row-start: 2;
}
@media screen and (min-width:768px) {
    body {
        width: 768px;
    }
    #tacos {
        width: 768px;
        height: 1100px;
    }
    header {
        height: 180px;
    }
    header img {
        height: 55px;
    }
    nav {
        width: 768px;
    }
    span {
        position: absolute;
        z-index: 1;
    }
    nav ul {
        overflow: visible;
        position: absolute;
        display: flex;
        top: 79px;
    }
    nav li {
        width: 109.71px;
    }
    .home {
        position: absolute;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 80px;
        top: 0;
        z-index: 2;
    }
    #searchBar {
        top: 15px;
        margin-top: 0;
        padding-left: 295px;
    }
    .signIn {
        margin-left: 690px;
    }
    h1 {
        text-align: left;
        padding-left: 15px;
        margin-top: 25px;
    }
    menu {
        position: relative;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 50%);
        margin-bottom: -100px;
        margin-top: 30px;
        height: 100px;
    }
    menu li {
        padding-top: 20px;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 0
    }
    dt {
        width: 100px;
        padding-left: 290px;
    }
    .author {
        padding-left: 280px;
    }
    .servings {
        padding-left: 300px;
    }
    #ingredients h2 {
        text-align: left;
        padding-left: 50px;
    }
    .I_D {
        grid-row-start: 4;
        display: grid;
        grid-template-columns: .4fr 1fr;
    }
    #directions ol{
        margin-top: 0;
    }
    #sideDishes {
        height: 370px;
        width: 768px;
        grid-template-rows: 40px 170px 170px;
        grid-template-columns: 434px 434px; 
    }
    #sideDishes h2 {
        padding-left:230px;
        width: 300px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .dish1 {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .dish2 {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-left: -50px;
    }
    .dish3 {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .dish4 {
        grid-column-start: 2;
        grid-row-start: 3;
        margin-left: -50px;
    }
    #sideDishes img {
        padding-left: 0;
    }
    .dish {
        width: 400px;
        grid-template-columns: .4fr 1fr;
    }
    h4 {
        padding-top: 7px;
    }
    .stars {
        display: flex;
        padding-top: 7px;
    }
    footer {
        height: 325px;
        border-top: none;
        grid-template-columns: 1.6fr .4fr;
        grid-template-rows: 1.8fr .2fr;
    }
    #social {
        grid-column-start: 2;
        height: 100px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    #social ul {
        display: flex;    
        justify-content: flex-end;
        padding-left: 20px;
        padding-right: 15px;
        margin-top: 0;
    }
    #social li {
        display: block;
        width: 70px;
        color: #EB5428;
        list-style: none;
        line-height: .8em;
        text-align: center;
        padding-left: 20px;
    }
    footer p {
        grid-row-start: 2;
        padding-left: 60px;
        padding-bottom: 20px;
    }
    #cheesington {
        grid-row-start: 1;
        padding-top: 40px;
    }
}
@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }
    #tacos {
        height: 700px;
        width: 500px;
    }
    #intro {
        padding-top: 50px;
        height: 1200px;
        display: grid;
        height: 800px;
        grid-template-columns: 126px 500px 654px;
        grid-template-rows: 100px 700px;
    }
    #intro p {
        height: 300px;
        line-height: 2em;
        margin-bottom: 50px;
    }
    #intro p:last-of-type {
        margin-top: 50px;
    }
    #intro h1 {
        margin-top: 40px;
        padding-left: 550px;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    header {
        height: 100px;
    }
    .home {
        height: 50px;
        width: 120px;
    }
    .home svg {
        width: 55px;
        padding-top: 10px;
    }
    nav ul {
        top: 0;
        padding-left: 260px;
    }
    .signIn {
        margin-left: 1180px;
        margin-top: 10px;
    }
    menu {
        position: relative;
        flex-direction: column;
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        background: white;
        border: solid 2px #EB5428;
        height: 696px;
        width: 124px;
        justify-content:flex-start;
    }
    menu li {
        padding-left: 13px;
        padding-top: 30px;
    }
    #searchBar {
        position: absolute;
        margin-top: 135px;
        display: flex;
        justify-content: center;
        margin-left: 180px;
        width: 300px;
    }
    #intro {
        padding-top: 70px;
    }
    #intro img {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    #intro p {
        width: 640px;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    #intro p:last-of-type {
        padding-top: 90px;
    }
    #details {
        width: 1280px;
        background-color: black;
        color: #7ABFBF;
        height: 110px;
    }
    dl {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 0;
        margin-left: 0;
    }
    dt, .author, .servings {
        padding-left: 10px;
        margin-left: 45px;
    }
    dt {
        grid-row-start: 1;
        height: 20px;
    }
    dd {
        grid-row-start: 2;
        margin-top: -2px;
    }
    .I_D {
        grid-template-columns: .4fr 1.6fr;
    }
    #sideDishes {
        width: 1280px;
        height: 450px;
        grid-template-columns: repeat(4, 320px);
        grid-template-rows: 50px 300px 100px;
    }
    #sideDishes h4, h3, #sideDishes p, #sideDishes img {
       padding-left: 30px;
    }
    h3 {
        margin: 0;
        position: absolute;
        padding-top: 260px;
    }
    #sideDishes h2 {
        width: 300px;
        padding-left: 500px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #sideDishes img {
        grid-row: 2/3;
        height: 250px;
        width: 250px;
    }
    #sideDishes p, .stars {
        margin: 0;
        padding-top: 30px;
    }
    .stars {
        position: relative;
        display: flex;
        padding-top: 7px;
    }
    #sideDishes p {
        width: 200px;
    }
    .dish {
        width: 320px;
        display: block;
        margin-left: 0;
    }
    .dish1 {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .dish2 {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .dish3 {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    .dish4 {
        grid-column-start: 4;
        grid-row-start: 2;
    }
    #social li {
        padding-left: 80px;
        padding-right: 20px;
    }
    #cheesington {
        margin-left: 20px;
        padding-top: 60px;
        grid-row-start: 1;
        grid-column-start: 1;
    }
    footer p:last-of-type {
        grid-row-start: 1;
        grid-column-start: 1;
        padding-top: 65px;
        padding-left: 10px; 
    }
    #social p {
        padding-top: 0;
        height: 0;
    }
}